SECRET_KEY=django-insecure-$kp*_af3q%a9cf005y9shmp6%7yj(-wi)^tq=oj3)8@z@(c^#3
DATABASE_NAME=skriptomat
DATABASE_USER=postgres
DATABASE_PASSWORD=lozinka
DATABASE_HOST=localhost
DATABASE_PORT=5432
GOOGLE_CLIENT_ID=196800030368-lmidju0mllepq57aacpiov3a4mk5jav2.apps.googleusercontent.com

# PayPal Configuration (sandbox mode)
# Get these from: https://developer.paypal.com/dashboard/applications/sandbox
PAYPAL_CLIENT_ID=AaWw6IB_Ddg86fkexrp6ctnCL8F-53zyyD6pPR97StGWSdORDG070YdvTXGRrS3dyzUyqnWJyN51Be4u
VITE_PAYPAL_CLIENT_ID=AaWw6IB_Ddg86fkexrp6ctnCL8F-53zyyD6pPR97StGWSdORDG070YdvTXGRrS3dyzUyqnWJyN51Be4u
PAYPAL_CLIENT_SECRET=EMxec5HfxWkCKHEyzVQoNiyfDZTkHNJIg4Tzmh2HQquvyM7zF6EiBF-AZXTuTbYW7__FDcmXriDhkqUg
PAYPAL_MODE=sandbox