/* app container */
.app {
  min-height: 100vh;
}

/* glavni container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: left;
}

header {
  border: 2px solid;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 9%;
  box-shadow: var(--box-shadow);
}

header nav a {
  font-size: 1.3rem;
  margin: 0 1rem;
  color: #2c3e50;
}

header nav a:hover {
  color: lightblue;
}

/* naslov */
h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem 2rem 0.5rem 2rem;
  color: #2c3e50;
}

main {
  font-size: 2rem;
  flex: 1;
  padding: 1rem;
  width: 100%;
}

.banner {
  position: relative;
  z-index: 1;
  filter: brightness(100%);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: white;
  margin-top: 120px;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.content {
  position: relative;
  z-index: 2;
}

.content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: black;
}